*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
 }
 .banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.72),rgb(0, 0, 0, 0.72)),url(bg4.jpg);
    background-size: cover;
    background-position: center;
 }
 .img1{
   width: 510px;
   height: 320px;
   background-image: url(vball.jpg);
   position: absolute;
   left: 166px;
   top: 18%;
   border-image: linear-gradient(#ffffff, #ffffff) 30;
   border-width: 5px;
   border-style: solid;
   box-shadow: 5px 12px 12px rgba(0, 0, 0, 0.66);
 }
 .img2{
   width: 510px;
   height: 320px;
   background-image: url(bball.jpg);
   position: absolute;
   right: 215px;
   top: 18%;
   border-image: linear-gradient(#ffffff, #ffffff) 30;
   border-width: 5px;
   border-style: solid;
   box-shadow: 8px 12px 12px rgba(0, 0, 0, 0.66);
   
 }
.row{
   display: flex;
   font-size: 46px;
   color: white;
   margin-left: 210px;
   text-shadow: 0 5px 3px #310404, 
   -1px 3px 1px #a31a1a, 
   -2px 5px 1px #941a1a,
   0px 12px 3px black;
   letter-spacing: 4px;
}
.icon1{
   width: 70px;
   height: auto;
   background-image: url(icon1.jpg);
   margin-left: 10%;
   margin-bottom: 0.1%;
   transition: transform 3.5s;
}
.icon1:hover{
   transform: rotate(1080deg);
}
.icon2{
   width: 70px;
   height: auto;
   background-image: url(icon2.jpg.webp);
   margin-left: 40%;
   margin-top: 24%;
   transition: transform 3.5s;
}
.icon2:hover{
   transform: rotate(1080deg);
}
.sport{
   font-size: 30px;
   color: white;
   text-shadow: 3px 6px 1px rgb(17, 3, 3), 
   3px 12px 20px black;
   font-style: italic;
   margin-left: 15%;
   margin-top: -18%;
   letter-spacing: 3px;
}
.sport1{
   font-size: 30px;
   color: white;
   text-shadow: 3px 6px 1px rgb(17, 3, 3), 
   3px 12px 20px black;
   font-style: italic;
   margin-left: 60%;
   margin-top: -3.2%;
   letter-spacing: 3px;
}
.desc1{
   font-size: 13px;
   font-style: italic;
   letter-spacing: 2px;
   color: white;
   padding: 9px;
   margin-right: 55%;
   margin-left: 7%;
   margin-top: .5%;
   background:rgba(0, 0, 0, 0.66);
   border-radius: 25px;
}
.desc2{
   font-size: 13px;
   font-style: italic;
   letter-spacing: 2px;
   color: white;
   padding: 9px;
   margin-left: 50%;
   margin-right: 4%;
   margin-top: -11.4%;
   background:rgba(0, 0, 0, 0.66);
   border-radius: 25px;
}
.sym{
   width: 100px;
   margin-left: 93%;
   margin-top: 0%;
}
.line{
   width: 900px;
   height: 10px;
   margin-top: -42%;
   box-shadow: 0 4px 3px #310404, 
   -1px 2px 0px #a31a1a, 
   -2px 5px 1px #941a1a,
   0px 12px 8px black;
}