body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    max-width: 1000px;
}
.card {
    padding: 10px;
    border-radius: 10px;
    width: 290px;
    text-align: center;
    transition: transform 0.5s;
    box-shadow: 0 3px 10px
}
.card img {
    width: 100%;
    border-radius: 10px;
}
.card:hover {
    transform: scale(1.03);
}